In [1]:
#importing regular expression library  
import re

In [3]:
#using re.match  
#to find the first occurrence of the letter 'I' in the string 

sentence1 = re.match (r'I', 'I am learning text analytics')  
print (sentence1)

<re.Match object; span=(0, 1), match='I'>

In [5]:
#using re.match  
#to find the first occurrence of the letter 'v' in the string  

sentence2 = re.match (r'v', 'I am learning text analytics')  
print (sentence2)

None

In [7]:
#using re.match  
#to find the first occurrence of the letter 'am' in the 

string  
sentence3 = re.match (r'am', 'I am learning text analytics')  
print (sentence3)

NameError: name 'string' is not defined

In [9]:
#using re.match  
#to find the first occurrence of the letter 'am' in the 
string  
sentence3 = re.match (r'am', 'I am learning text analytics')  
print (sentence3)

NameError: name 'string' is not defined

In [11]:
#using re.match  
#to find the first occurrence of the letter 'am' in the string  
sentence3 = re.match (r'am', 'I am learning text analytics')  
print (sentence3)

None

In [13]:
sentence4 = re.search(r'am', 'I am learning text analytics')  
print (sentence4)

<re.Match object; span=(2, 4), match='am'>

In [15]:
sentence5 = re.search(r'am', 'I am learning text analytics 
and am enjoying it')   
print (sentence5)

SyntaxError: unterminated string literal (detected at line 1) (776698216.py, line 1)

In [17]:
sentence5 = re.search(r'am', 'I am learning text analytics and am enjoying it')   
print (sentence5)

<re.Match object; span=(2, 4), match='am'>

In [19]:
sentence6 = re.findall(r'am', 'I am learning text analytics and am enjoying it')   
print (sentence6)

['am', 'am']

In [21]:
sentence7 = re.split(r'and', 'I am learning text analytics and am enjoying it')   
print (sentence7)

['I am learning text analytics ', ' am enjoying it']

In [23]:
sentence8 = re.split(r'am', 'I am learning text analytics and am enjoying it')   
print (sentence8)

['I ', ' learning text analytics and ', ' enjoying it']

In [25]:
sentence9 = re.split(r'am', 'I am learning text analytics and am enjoying it', maxsplit=1)  
print (sentence9)

['I ', ' learning text analytics and am enjoying it']

In [27]:
sentence9 = re.split(r'am', 'I am learning text analytics and am enjoying it', maxsplit=2)  
print (sentence9)

['I ', ' learning text analytics and ', ' enjoying it']

In [29]:
sentence10 = re.split(r'am', 'I am learning text analytics, I am enjoying it and I am going to ace it', maxsplit=3)  
print (sentence10)

['I ', ' learning text analytics, I ', ' enjoying it and I ', ' going to ace it']

In [31]:
sentence11 = re.sub(r'I', 'we', 'I like text analytics and I enjoy learning it')  
print (sentence11)

we like text analytics and we enjoy learning it

In [33]:
sentence1 = re.findall (r'.', 'I am learning text analytics')  
print (sentence1)  
# Each letter is selected including spaces

['I', ' ', 'a', 'm', ' ', 'l', 'e', 'a', 'r', 'n', 'i', 'n', 'g', ' ', 't', 'e', 'x', 't', ' ', 'a', 'n', 'a', 'l', 'y', 't', 'i', 'c', 's']

In [35]:
sentence2 = re.findall (r'\w', 'I am learning text analytics') 
print (sentence2)  
# Each letter is selected excluding spaces

['I', 'a', 'm', 'l', 'e', 'a', 'r', 'n', 'i', 'n', 'g', 't', 'e', 'x', 't', 'a', 'n', 'a', 'l', 'y', 't', 'i', 'c', 's']

In [37]:
sentence3 = re.findall (r'\w*', 'I am learning text analytics')  
print (sentence3)  
# Each word is selected including spaces

['I', '', 'am', '', 'learning', '', 'text', '', 'analytics', '']

In [39]:
sentence4 = re.findall (r'\w+', 'I am learning text analytics')  
print (sentence4)  
# Each word is selected excluding spaces

['I', 'am', 'learning', 'text', 'analytics']

In [41]:
sentence5 = re.findall (r'^\w+', 'I am learning text analytics')  
print (sentence5)  
# First word is selected

['I']

In [43]:
sentence6 = re.findall (r'\w+$', 'I am learning text analytics')  
print (sentence6)  
# Last word is selected

['analytics']

In [45]:
sentence7 = re.findall (r'\w\w', 'I am learning text analytics')  
print (sentence7)  
# 2 consecutive characters are selected

['am', 'le', 'ar', 'ni', 'ng', 'te', 'xt', 'an', 'al', 'yt', 'ic']

In [47]:
sentence8 = re.findall (r'\b\w\w', 'I am learning text analytics')  
print (sentence8)

['am', 'le', 'te', 'an']

In [49]:
sentence9 = re.findall (r'@\w+', 'user@text.com.my, user@analytics.gov.my, user@textanalytics.edu.my') 
print (sentence9)  
# Only the first word in the domain name is selected

['@text', '@analytics', '@textanalytics']

In [51]:
sentence10 = re.findall (r'@\w+.\w+','user@text.com.my, user@analytics.gov.my, user@textanalytics.edu.my') 
print (sentence10) 
['@text.com', '@analytics.gov', '@textanalytics.edu']

['@text.com', '@analytics.gov', '@textanalytics.edu']

['@text.com', '@analytics.gov', '@textanalytics.edu']

In [53]:
sentence11 = re.findall (r'@\w+.\w+.\w+', 'user@text.com.my, user@analytics.gov.my, user@textanalytics.edu.my') 
print (sentence11)  
# The full domain name is selected

['@text.com.my', '@analytics.gov.my', '@textanalytics.edu.my']

In [55]:
sentence12 = re.findall (r'@\w+.(\w+.\w+)', 'user@text.com.my, user@analytics.gov.my, u  
print (sentence12 )
# To display the type of domain

SyntaxError: unterminated string literal (detected at line 1) (2403996122.py, line 1)

In [57]:
#solution
sentence12 = re.findall (r'@\w+.(\w+.\w+)', 'user@text.com.my, user@analytics.gov.my, u')  
print (sentence12)
# To display the type of domain

['com.my', 'gov.my']

In [59]:
sentence13 = re.findall (r'\d{2}-\d{2}-\d{2}', 'Ahmad BIT(IS) 15-05-2001, Johnny BCS(SE) 20-08-2000') 

print (sentence13)  
# To display the date in the format of dd-mm-yy

['15-05-20', '20-08-20']

In [61]:
sentence14 = re.findall (r'\d{2}-\d{2}-\d{4}', 'Ahmad BIT(IS) 15-05-2001, Johnny BCS(SE) 20-08-2000') 
print (sentence14)  
# To display the date in the format of dd-mm-yyyy

['15-05-2001', '20-08-2000']

In [63]:
sentence15 = re.findall (r'\d{2}-\d{2}-(\d{4})', 'Ahmad BIT(IS) 15-05-2001, Johnny BCS(SE) 20-08-2000') 
print (sentence15)  
# Only the year will be displayed

['2001', '2000']

In [65]:
sentence16 = re.findall (r'[aeiouAEIOU]\w+', 'I have eight story books. I often read them in afternoon') 
print (sentence16) 
# A sequence that starts with a vowel followed by one o rmore characters are selected

['ave', 'eight', 'ory', 'ooks', 'often', 'ead', 'em', 'in', 'afternoon']

In [67]:
sentence17 = re.findall (r'\b[aeiouAEIOU]\w+', 'I have eight story books. I often read them in afternoon') 
print (sentence17)  
# Only words that start with vowels are selected

['eight', 'often', 'in', 'afternoon']

In [69]:
sentence18 = re.findall (r'\b[^aeiouAEIOU\s]\w+', 'I have eight story books. I often read them in afternoon') 
print (sentence18)  
# Only words that start with non-vowels are selected

['have', 'story', 'books', 'read', 'them']

In [71]:
sentence19 = re.split (r'[;,]', 'I have many story books, colouring books; I often read them in the afternoon.') 
print (sentence19)  
# split the words based on the delimiters semi colon and comma

['I have many story books', ' colouring books', ' I often read them in the afternoon.']

In [73]:
sentence20 = re.split (r'[;,\s]', 'I have many story books, colouring books; I often read them in the afternoon.') 
print (sentence20)  
# split the words based on the delimiters semi colon, comma and space

['I', 'have', 'many', 'story', 'books', '', 'colouring', 'books', '', 'I', 'often', 'read', 'them', 'in', 'the', 'afternoon.']

In [75]:
sentence21 = re.sub (r'[;,]', '.', 'I have many story books, colouring books; I often read them in the afternoon.') 
print (sentence21)  
# Substitute the delimiters semi colon and comma with fullstop

I have many story books. colouring books. I often read them in the afternoon.

In [77]:
import re 
text = "Order number: 24567, Tracking ID: 8934A12, Quantity: 30" 
# Write your regular expression here 
pattern = r'\d' 
matches = re.findall(pattern, text) 
print("Digits found:", matches)

Digits found: ['2', '4', '5', '6', '7', '8', '9', '3', '4', '1', '2', '3', '0']

In [79]:
text = "Welcome! How's your day going? Call me @ 3pm." 
pattern = r'[^a-zA-Z0-9_]'
matches = re.findall(pattern, text) 
print("Non-alphanumeric characters:", matches)

Non-alphanumeric characters: ['!', ' ', "'", ' ', ' ', ' ', '?', ' ', ' ', ' ', '@', ' ', '.']

In [81]:
ext = "Data Science, AI, and Machine Learning. These fields are growing fast." 
pattern = r'[,.]'
split_text = re.split(pattern, text) 
print("Split text:", split_text)

Split text: ["Welcome! How's your day going? Call me @ 3pm", '']

In [83]:
import re

text = "Data Science, AI, and Machine Learning. These fields are growing fast."
pattern = r'[,.]'

split_text = re.split(pattern, text)
print("Split text:", split_text)

Split text: ['Data Science', ' AI', ' and Machine Learning', ' These fields are growing fast', '']

In [89]:
text = "Contact us at support@example.com or info@company.org" 
pattern = r'\S+@\S+'
new_text = re.sub(pattern, "[HIDDEN]", text) 
print("Anonymized text:", new_text)

Anonymized text: Contact us at [HIDDEN] or [HIDDEN]

In [91]:
text = "Emails: user@gmail.com, admin@university.edu, info@company.org" 
pattern =  r'@\w+.(\w+.\w+)'
matches = re.findall(pattern, text) 
print("Domain types:", matches)

Domain types: ['com', 'edu', 'org']