In [9]:
import re

# Match specific characters

Search for character 'a','b' and 'c'

In [14]:
text = "apple, banana, cherry, abc, xyz"

#Method 1
pattern1 = r"[abc]"
matches1 = re.findall(pattern1, text)
print("Matches using [abc]:", matches1)

Matches using [abc]: ['a', 'b', 'a', 'a', 'a', 'c', 'a', 'b', 'c']

In [16]:
#Method 2
pattern2 = r"[a-c]"
matches2 = re.findall(pattern2, text)
print("Matches using [a-c]:", matches2)

Matches using [a-c]: ['a', 'b', 'a', 'a', 'a', 'c', 'a', 'b', 'c']

Search for character 'a','b' and '*'

In [32]:
text = "a*b abc ab*"

pattern = r"[ab\*]"
matches = re.findall(pattern, text)
print("Matches using [ab\\*]:", matches)

Matches using [ab\*]: ['a', '*', 'b', 'a', 'b', 'a', 'b', '*']

# ^ Metacharacter - Complementary of the set

In [35]:
text = "apple banana avocado"

# Pattern to match all characters except 'a'
pattern = r"[^a]"

# Find all matches
matches = re.findall(pattern, text)

print("Characters other than 'a':", matches)

Characters other than 'a': ['p', 'p', 'l', 'e', ' ', 'b', 'n', 'n', ' ', 'v', 'o', 'c', 'd', 'o']

In [37]:
text = "a ^ b a^c"

# Pattern to match either 'a' or '^'
pattern = r"[a^]"

# Find all matches
matches = re.findall(pattern, text)

print("Characters 'a' or '^':", matches)

Characters 'a' or '^': ['a', '^', 'a', '^']

# \ Metacharacter

In [43]:
# Match any decimal digit
text = "Order 123, ID: 4567"
pattern1 = r"\d"
pattern2 = r"[0-9]"

matches1 = re.findall(pattern1, text)
matches2 = re.findall(pattern2, text)

print("Matches using \\d:", matches1)  
print("Matches using [0-9]:", matches2)

Matches using \d: ['1', '2', '3', '4', '5', '6', '7']
Matches using [0-9]: ['1', '2', '3', '4', '5', '6', '7']

In [45]:
# Match any non-digit character
text = "Price: $50"
pattern1 = r"\D"
pattern2 = r"[^0-9]"

matches1 = re.findall(pattern1, text)
matches2 = re.findall(pattern2, text)

print("Matches using \\D:", matches1) 
print("Matches using [^0-9]:", matches2)

Matches using \D: ['P', 'r', 'i', 'c', 'e', ':', ' ', '$']
Matches using [^0-9]: ['P', 'r', 'i', 'c', 'e', ':', ' ', '$']

In [47]:
# Match any whitespace character
text = "Hello\tWorld\nNew Line"
pattern1 = r"\s"
pattern2 = r"[\t\n\r\f\v]"

matches1 = re.findall(pattern1, text)
matches2 = re.findall(pattern2, text)

print("Matches using \\s:", matches1)
print("Matches using [\\t\\n\\r\\f\\v]:", matches2)

Matches using \s: ['\t', '\n', ' ']
Matches using [\t\n\r\f\v]: ['\t', '\n']

In [49]:
# Match any non-whitespace character
text = "Python 3.9\tis\nawesome!"
pattern1 = r"\S"
pattern2 = r"[^\t\n\r\f\v]"

matches1 = re.findall(pattern1, text)
matches2 = re.findall(pattern2, text)

print("Matches using \\S:", matches1)
print("Matches using [^\\t\\n\\r\\f\\v]:", matches2)

Matches using \S: ['P', 'y', 't', 'h', 'o', 'n', '3', '.', '9', 'i', 's', 'a', 'w', 'e', 's', 'o', 'm', 'e', '!']
Matches using [^\t\n\r\f\v]: ['P', 'y', 't', 'h', 'o', 'n', ' ', '3', '.', '9', 'i', 's', 'a', 'w', 'e', 's', 'o', 'm', 'e', '!']

In [51]:
# Match any alphanumeric character
text = "Hello_123!"
pattern1 = r"\w"
pattern2 = r"[a-zA-Z0-9_]"

matches1 = re.findall(pattern1, text)
matches2 = re.findall(pattern2, text)

print("Matches using \\w:", matches1)
print("Matches using [a-zA-Z0-9_]:", matches2)

Matches using \w: ['H', 'e', 'l', 'l', 'o', '_', '1', '2', '3']
Matches using [a-zA-Z0-9_]: ['H', 'e', 'l', 'l', 'o', '_', '1', '2', '3']

In [53]:
# Match any non-alphanumeric character
text = "Hello, World! 2024."
pattern1 = r"\W"
pattern2 = r"[^a-zA-Z0-9_]"

matches1 = re.findall(pattern1, text)
matches2 = re.findall(pattern2, text)

print("Matches using \\W:", matches1)
print("Matches using [^a-zA-Z0-9_]:", matches2)

Matches using \W: [',', ' ', '!', ' ', '.']
Matches using [^a-zA-Z0-9_]: [',', ' ', '!', ' ', '.']

# * asterisk/star metacharacter

In [6]:
str1 = "Numbers are 8,23, 886, 4567, 78453" 
# asterisk sign(*) to match 0 or more repetitions 

result = re.findall(r"\d\d*", str1) 
print(result)

['8', '23', '886', '4567', '78453']

# + Plus metacharacter

In [7]:
str2 = "Numbers are 8,23, 886, 4567, 78453"
# Plus sign(+) to match 1 or more repetitions

result2 = re.findall(r"\d\d+", str1)
print(result2)

['23', '886', '4567', '78453']

# Metacharacter    *   and    +
* Used to match either zero, one or many occurrences
+ Used to match either one or many occurrences

In [8]:
str3 = "ct likes cat"

result3 = re.findall('ca*t', str3)
print(result3)

result4 = re.findall('ca+t', str3)
print(result4)

['ct', 'cat']
['cat']

# Metacharacter    ?
Used to match either one or zero occurrence

In [9]:
str4 = "poppy likes to copy-cat. bobby likes to copy things."

result5 = re.findall('copy-?', str4)
print(result5)

['copy-', 'copy']

# Metacharacter  { }
Used to match the occurences based on the specified min and max values

In [12]:
str5 = "poppy likes to read boks. bobby likes to read books. ronnie likes to read boooks. they all love booooooks"

result6 = re.findall('bo{1,3}k', str5)
print(result6)

['bok', 'book', 'boook']